@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", "メイリオ", "Meiryo", "MS ゴシック", "ヒラギノ角ゴ ProN", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background-color: #e1e1e1;
  color: #141414;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

.button--small a {
  border: 1px solid #363b68;
  border-radius: 14px;
  width: 120px;
  height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #e1e1e1;
  color: #363b68;
  transition: 0.5s;
  line-height: 40px;
}
.button--small a:hover {
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0 3px 5px #7c7c81;
}

@media screen and (max-width: 680px) {
  .button-contact-s {
    display: none;
  }
}

.arrow-button-right {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  outline: none;
}
.arrow-button-right::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  bottom: -5px;
  left: 15%;
  /*下線の形状*/
  width: 85%;
  height: 1px;
  background: #7c7c81;
  /*アニメーションの指定*/
  transition: all 0.3s;
}
.arrow-button-right:hover::before {
  left: 20%;
}
.arrow-button-right::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 14px;
  height: 1px;
  background: #7c7c81;
  transform: rotate(35deg);
  transition: all 0.3s;
}
.arrow-button-right:hover::after {
  right: -5%;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 136px;
  padding: 0 4%;
}

.each-page-content-wrapper {
  margin-top: 8%;
}

.arrow-button-left {
  position: relative;
  margin-right: 5%;
}
.arrow-button-left::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  bottom: -5px;
  right: 18%;
  /*下線の形状*/
  width: 100%;
  height: 1px;
  background: #7c7c81;
  /*アニメーションの指定*/
  transition: all 0.3s;
}
.arrow-button-left:hover::before {
  right: 27%;
}
.arrow-button-left::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -20%;
  width: 14px;
  height: 1px;
  background: #7c7c81;
  transform: rotate(-35deg);
  transition: all 0.3s;
}
.arrow-button-left:hover::after {
  left: -30%;
}

.arrow-button-left-container {
  border-top: 3px dotted #7c7c81;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 88px;
}

.about,
.works,
.service {
  text-align: center;
}

.section__title {
  text-align: center;
  margin-bottom: 48px;
  position: relative;
}
.section__title::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20px;
  height: 13px;
  background-color: #363b68;
}

.en {
  font-size: 4.8rem;
  display: block;
}

.ja {
  font-size: 1.4rem;
  line-height: 56px;
}

.header__img {
  width: 180px;
}
@media screen and (max-width: 680px) {
  .header__img {
    width: 140px;
  }
}

.header {
  max-width: 100%;
  width: 100%;
  padding: 0 5%;
  background-color: #e1e1e1;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header_wrapper ul {
  display: flex;
}
@media screen and (max-width: 680px) {
  .header_wrapper ul {
    flex-direction: column;
    font-size: 1.8rem;
  }
}

.header__nav-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .header__nav-inner nav {
    background-color: rgba(54, 59, 104, 0.9);
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    opacity: 0;
    transition: all 0.5s;
    padding: 10% 5% 0 5%;
    z-index: 90;
  }
  .header__nav-inner nav li {
    color: #e1e1e1;
    margin-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
  }
  .header__nav-inner nav li a {
    display: block;
  }
}
.header__nav-inner li {
  margin-right: 24px;
}

.active nav {
  right: 0;
  opacity: 1;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 3%;
  right: 5%;
  cursor: pointer;
  z-index: 100;
  display: none;
}
@media screen and (max-width: 680px) {
  .hamburger-menu {
    display: block;
  }
}
.hamburger-menu span {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #363b68;
  transition: all 0.5s;
}
.hamburger-menu span:nth-of-type(1) {
  top: 6px;
}
.hamburger-menu span:nth-of-type(2) {
  top: 14px;
}
.hamburger-menu span:nth-of-type(3) {
  top: 22px;
}

.active .hamburger-menu span {
  background-color: #e1e1e1;
}
.active .hamburger-menu span:nth-of-type(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .hamburger-menu span:nth-of-type(2) {
  opacity: 0;
}
.active .hamburger-menu span:nth-of-type(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mainview {
  position: relative;
  margin-bottom: 120px;
}
.mainview h1 {
  color: #e1e1e1;
  font-size: 9.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  text-shadow: #141414 4px 5px 5px;
}
@media screen and (max-width: 680px) {
  .mainview h1 {
    font-size: 7.2rem;
  }
}

.main-view__img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.about p {
  margin-bottom: 34px;
  line-height: 1.8;
}

.service .section__title,
.works .section__title {
  border-top: 1px solid #7c7c81;
  border-bottom: 1px solid #7c7c81;
}

.works__content-wrapper--gray {
  max-width: 100%;
  background-color: #bfbfc0;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 900px) {
  .works__content-wrapper--gray {
    flex-direction: column;
    gap: 16px;
  }
}

.works__content--left {
  border-right: 1px solid #7c7c81;
  padding-right: 24px;
  flex-basis: 50%;
}
@media screen and (max-width: 900px) {
  .works__content--left {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #7c7c81;
    padding-bottom: 24px;
    padding-right: 0;
  }
}

.works__content--right {
  text-align: left;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .works__content--right {
    width: 100%;
  }
}
.works__content--right h3 {
  font-size: 1.8em;
  margin-bottom: 24px;
}
.works__content--right p {
  text-align: justify;
  margin-bottom: 24px;
  line-height: 1.8;
}

.works__content--skill {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 13px;
}
.works__content--skill li {
  background-color: #7c7c81;
  color: #e1e1e1;
  padding: 2px 6px;
  letter-spacing: 0;
  border-radius: 5px;
  font-size: 1.2rem;
}
.works__content--skill li:not(:last-child) {
  margin-right: 8px;
}

.works__content--rink {
  -webkit-text-decoration: underline #141414;
          text-decoration: underline #141414;
  text-decoration-thickness: 1px;
  display: flex;
  font-size: 1.4rem;
}
.works__content--rink li:not(:last-child) {
  margin-right: 16px;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: $subFontColor;
  --swiper-navigation-size: 24px;
  background-color: RGB(225, 225, 225, 0.5);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  top: var(--swiper-navigation-top-offset, 40%);
}
@media screen and (max-width: 680px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}

.swiper-pagination-bullet {
  --swiper-theme-color: $subFontColor;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.service__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
}
@media screen and (max-width: 860px) {
  .service__inner {
    flex-direction: column;
  }
}
.service__inner img {
  width: 180px;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 24px;
}
.service__inner li {
  width: 33.3333333333%;
  border: 1px solid #7c7c81;
  padding: 24px;
}
@media screen and (max-width: 860px) {
  .service__inner li {
    width: 100%;
  }
}
.service__inner h3 {
  font-weight: bold;
  color: #363b68;
}
.service__inner p {
  text-align: justify;
  line-height: 1.8;
}

.service__content--title {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.contact-wrapper--navy {
  background-color: #363b68;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 0;
}
@media screen and (max-width: 680px) {
  .contact-wrapper--navy {
    flex-direction: column;
  }
}

.contact--left {
  width: 50%;
  padding: 0 4%;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}
@media screen and (max-width: 680px) {
  .contact--left {
    width: 100%;
    border-right: none;
    padding: 0;
  }
}
.contact--left p {
  color: #e1e1e1;
  display: block;
}
@media screen and (max-width: 680px) {
  .contact--left p {
    margin-bottom: 24px;
  }
}

.contact-section__title {
  display: inline-block;
  color: #e1e1e1;
  margin-bottom: 10px;
}
.contact-section__title::after {
  background-color: #e1e1e1;
}

.contact--right {
  width: 50%;
  text-align: center;
  padding: 0 4%;
}
@media screen and (max-width: 680px) {
  .contact--right {
    width: 100%;
  }
}
.contact--right a {
  color: #363b68;
  max-width: 100%;
  width: 420px;
  height: 48px;
  line-height: 48px;
  border-radius: 13px;
  background-color: #e1e1e1;
  display: inline-block;
  transition: 0.5s;
}
.contact--right a:hover {
  opacity: 1;
  transition: 0.5s;
  background-color: #e1e1e1;
  color: #363b68;
  transition: 0.5s;
}

.footer {
  border-top: 1px solid #7c7c81;
  height: 48px;
}

.footer p {
  text-align: center;
  line-height: 48px;
}

.toTop-btn-area {
  position: fixed;
  top: 58%;
  right: 5%;
  display: none;
  z-index: 20;
}
.toTop-btn-area:hover {
  opacity: 1;
}
.toTop-btn-area img {
  width: 40px;
  height: 40px;
}

.toTop.toTop-btn-area {
  display: block;
}

.about-content {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 680px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }
}
.about-content img {
  border-radius: 70px;
}
@media screen and (max-width: 680px) {
  .about-content img {
    width: 200px;
  }
}

.about-description li {
  margin-bottom: 16px;
}
.about-description p {
  line-height: 1.8;
  text-align: justify;
}

.contact-text {
  text-align: center;
  margin-bottom: 107px;
  line-height: 1.8;
}
@media screen and (max-width: 680px) {
  .contact-text {
    margin-bottom: 56px;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 680px) {
  .contact-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.contact-container dt {
  width: 20%;
  text-transform: uppercase;
  font-weight: normal;
}
@media screen and (max-width: 680px) {
  .contact-container dt {
    width: 100%;
  }
}
.contact-container dt:not(:last-child) {
  margin-bottom: 32px;
}
.contact-container dd {
  width: 80%;
}
@media screen and (max-width: 680px) {
  .contact-container dd {
    width: 100%;
  }
}
.contact-container dd textarea {
  height: 16rem;
}
.contact-container dd:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (max-width: 680px) {
  .contact-container dd:not(:last-child) {
    margin-bottom: 16px;
  }
}

label {
  position: relative;
}
label::after {
  content: " ※必須";
  font-size: 1.2rem;
  opacity: 0.7;
  position: absolute;
  top: 24px;
  left: 0;
}

input[type=text],
input[type=email],
.message-box {
  width: 100%;
  height: 2.75rem;
  padding: 16px 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  outline: 1px solid #7c7c81;
}

.description__title {
  text-align: center;
  margin-bottom: 64px;
}

.site-image {
  margin-bottom: 40px;
}

.description-text-wrapper {
  background-color: #bfbfc0;
  padding: 24px 40px;
}

.description-text {
  margin-bottom: 40px;
}

.site-address {
  margin-top: 24px;
  border-top: 1px solid #7c7c81;
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */